PELICAN_ORIGIN_SELFTEST=false
NAMESPACEPREFIX=""  
PELICAN_SERVER_STARTUPTIMEOUT=100s
PELICAN_SERVER_WEBPORT=8000
PELICAN_SERVER_TLSCERTIFICATE=/etc/pelican/certs/fdp-origin.crt
PELICAN_SERVER_HOSTNAME=fdp-origin.labs.hpe.com
PELICAN_SERVER_TLSKEY=/etc/pelican/certs/fdp-origin.key
PELICAN_ISSUERKEY=/etc/pelican/key/issuer.jwk
PELICAN_LOGGING_LOGLOCATION=/var/log/pelican/pelican.log
PELICAN_SHOVELER_AMQPTOKENLOCATION=/etc/pelican/shoveler/token
PELICAN_SHOVELER_URL=amqps://clever-turkey.rmq.cloudamqp.com/xrd-mon
PELICAN_SHOVELER_AMQPEXCHANGE=shoveled-xrd 
PELICAN_SHOVELER_ENABLE=false
PELICAN_XROOTD_SITENAME=FDP_HP_OSDF_ORIGIN 
PELICAN_LOGGING_LEVEL=debug 

